<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start mb-3 ">
  <a class="nav-item nav-link navblack" href="website-list.html"><i class="fas fa-chevron-left"></i></a>
  <a class="navbar-brand  " href="#">Pages</a>
  <!--ml-auto pushes the plus icon all the way to the right
  todo:justify-content-end and float-right not working for some reason-->
  <a class="nav-item nav-link ml-auto" href="page-new.html"><i class=" navblack fas fa-plus"></i></a>
</nav>

<div class="container-fluid pt-5">
  <ul class="list-group border-0">
    <li class="list-group-item border-0 ">
      <a href="page-edit.html"><span><i class="fas fa-cog float-right"></i></span></a>
      <a href="widget-list.html">Blog Post</a>
    </li>
    <li class="list-group-item border-0">
      <a href="page-edit.html"><span><i class="fas fa-cog float-right"></i></span></a>
      <a href="widget-list.html">Blogs</a>
    </li>
    <li class="list-group-item border-0">
      <a href="page-edit.html"><span><i class="fas fa-cog float-right"></i></span></a>
      <a href="widget-list.html">Homes</a>
    </li>
    <li class="list-group-item border-0">
      <a href="page-edit.html"><span><i class="fas fa-cog float-right"></i></span></a>
      <a href="widget-list.html">About</a>
    </li>
    <li class="list-group-item border-0">
      <a href="page-edit.html"><span><i class="fas fa-cog float-right"></i></span></a>
      <a href="widget-list.html">Contact Us</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-light justify-content-start fixed-bottom">

  <a class="nav-item nav-link ml-auto navblack" href="profile.html"><i class="  fas fa-user"></i></a>
</nav><p>
  page-list works!
</p>
