<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start mb-3   ">
  <a class="nav-item nav-link navblack" href="widget-list.html"><i class="fas fa-chevron-left"></i></a>
  <a class="navbar-brand  " href="#">Choose Widget</a>
  <!--ml-auto pushes the plus icon all the way to the right
  todo:justify-content-end and float-right not working for some reason-->

</nav>
<div class="container-fluid cl-container-padding">
  <ul class="list-group ">
    <li class="list-group-item border-0">
      <a href="widget-heading.html">Header</a>
    </li>
    <li class="list-group-item border-0">
      <a href="#">Label</a>
    </li>
    <li class="list-group-item border-0">
      <a href="#">HTML</a>
    </li>
    <li class="list-group-item border-0">
      <a href="#">Text Input</a>
    </li>
    <li class="list-group-item border-0">
      <a href="#">Link</a>
    </li>
    <li class="list-group-item border-0">
      <a href="#">Button</a>
    </li>
    <li class="list-group-item border-0">
      <a href="widget-image.html">Image</a>
    </li>
    <li class="list-group-item border-0">
      <a href="widget-youtube.html">YouTube</a>
    </li>
    <li class="list-group-item border-0">
      <a href="#">Data Table</a>
    </li>
    <li class="list-group-item border-0">
      <a href="#">Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-light justify-content-start fixed-bottom ">

  <a class="nav-item nav-link ml-auto navblack " href="profile.html"><i class="  fas fa-user"></i></a>
</nav>
